<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624896223148-v2ik4648dki1eg4vb2eph346vuu2g4iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624896223148-v2ik4648dki1eg4vb2eph346vuu2g4iq</string>
	<key>API_KEY</key>
	<string>AIzaSyCchF91aqy_oxkw_oBmV9G10_M5MpK9Jqo</string>
	<key>GCM_SENDER_ID</key>
	<string>624896223148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NickHerzig.Open-Camp</string>
	<key>PROJECT_ID</key>
	<string>opencamp-b9298</string>
	<key>STORAGE_BUCKET</key>
	<string>opencamp-b9298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624896223148:ios:0fa28bafa09db1b1b33c09</string>
</dict>
</plist>